.filters {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.ratings-wrapper {
  display: flex;
  width: 280px;
  gap: 8px;
}

.ratings {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}
