.label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  margin-bottom: 8px;
}

.root {
  :hover {
    border-color: var(--mantine-color-purple-5);
  }
  align-self: stretch;
  max-width: 284px;
  width: 100%;
}

.input {
  border: 1px solid var(--mantine-color-grey-3);
  border-radius: 8px;
}

.dropdown {
  border-radius: 8px;
  background: var(--mantine-color-grey-0);

  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  border-radius: 8px;
  &[data-combobox-active] {
    color: var(--mantine-color-grey-0);
    background-color: var(--mantine-color-purple-5);
  }
}
