.movie-list-item {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  border-radius: 12px;
  background-color: var(--mantine-color-grey-0);
  width: 482px;
  height: 218px;
}

.movie-poster {
  min-width: 119px;
  img {
    width: 119px;
  }
}

.info {
  display: flex;
  flex-grow: 1;

  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: var(--mantine-color-purple-5);

  font-size: 20px;
  font-weight: 600;
}

.year {
  color: var(--mantine-color-grey-6);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.votes {
  display: flex;
  align-items: center;
}

.average {
  display: block;
  margin: 0 8px 0 4px;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.count {
  color: var(--mantine-color-grey-6);
  font-size: 16px;
  font-weight: 400;
}

.genres {
  display: flex;
  gap: 8px;
  span {
    color: var(--mantine-color-grey-6);
    font-size: 16px;
    font-weight: 400;
  }
}

.favourite {
  padding: 0;
  cursor: pointer;
  min-width: 28px;
  margin-left: 8px;
  &:active {
    transform: none;
  }
}

.star {
  color: var(--mantine-color-grey-3);
  min-width: 28px;
}
