.tab {
  transition: 0.1s all;
  height: 42px;
  color: var(--mantine-color-grey-7);
  background-color: transparent;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  &:hover {
    color: var(--mantine-color-purple-4);
    background-color: transparent;
  }

  &:active {
    transform: none;
  }
}
