.active {
  cursor: default;
  color: var(--mantine-color-purple-5);
  font-weight: 700;

  background-color: var(--mantine-color-purple-2);

  &:hover {
    background-color: var(--mantine-color-purple-2);
    color: var(--mantine-color-purple-5);
  }
}
