.mantine-Button-root {
  transition: 0.1s all;
  height: 42px;

  --button-bg: var(--mantine-color-purple-5);
  --button-radius: 8px;
  --button-hover: var(--mantine-color-purple-4);
  &:active {
    transform: none;
    --button-bg: var(--mantine-color-purple-6);
    --button-hover: var(--mantine-color-purple-6);
  }
}
